
html, body {
  margin: 0px;
  padding: 0px;
}
.container {
  padding: 10px;

  .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }

  button, .button {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    padding: 2px 4px;
    background: white;
    border: 1px solid gray;
    margin-bottom: 2px;
    border-radius: 3px;
    &:hover {
      background: #ccc;
    }
  }

  .form {
    font-size: 14px;
    line-height: 18px;
    .form-item {
      display: flex;
      margin-bottom: 8px;
      &-label {
        width: 120px;
        text-align: right;
        padding: 0px 12px 0px 0px;
        color: #FF4560;
      }
      &-content {
        flex: 1;
      }
    }
  }

  .native_area {
    .native_submit_form {
      width: 600px;
      margin-left: 20px;
      font-size: 12px;
      color: black;
      form.the-form {
        .form-item {
          display: flex;
          margin-bottom: 10px;
          input[type="file"], input[type="submit"], input[type="reset"] {
          }
          input[type="text"], textarea {
            font-size: 14px;
            line-height: 16px;
            background-color: rgba(255, 255, 255, .5);
            width: 100%;
            box-sizing: border-box;
            padding: 2px;
          }
          .label {
            width: 220px;
            font-size: 14px;
            line-height: 22px;
            text-align: right;
            font-weight: bold;
            color: black;
            box-sizing: border-box;
            padding-right: 10px;
          }
          .content {
            flex: 1;
            box-sizing: border-box;
          }
          &.title {
            display: block;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            margin-bottom: 18px;
          }
          &.footer {
            display: flex;
            .item {
              flex: 1;
              text-align: center;
            }
          }
        }
      }
    }
    .native_drag_drop {
      width: 600px;
      height: 400px;
      margin: 0px auto;
      border: 1px dotted gray;
      &:hover {
        cursor: pointer;
      }
    }
  }
}



