html, body {
  margin: 0px;
  padding: 0px; }

.container {
  padding: 10px; }
  .container .visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); }
  .container button {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    padding: 3px 6px;
    background: white;
    border: 1px solid gray; }
  .container button:hover {
    background: #ccc; }
  .container .button {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    padding: 3px 6px;
    background: white;
    border: 1px solid gray; }
  .container .button:hover {
    background: #ccc; }
  .container .form .form-item {
    margin-bottom: 10px; }
    .container .form .form-item::before, .container .form .form-item::after {
      display: table;
      content: "";
      clear: both; }
    .container .form .form-item-label {
      width: 240px;
      float: left;
      text-align: right;
      padding: 0px 12px 0px 0px;
      color: #FF4560; }
    .container .form .form-item-content {
      margin-left: 240px; }
    .container .form .form-item.native_submit_form .form-item-content {
      width: 600px;
      margin: 0px auto;
      font-size: 12px;
      color: black; }
      .container .form .form-item.native_submit_form .form-item-content .title {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        margin-bottom: 12px; }
      .container .form .form-item.native_submit_form .form-item-content .the-form .form-item {
        display: flex;
        margin-bottom: 10px; }
      .container .form .form-item.native_submit_form .form-item-content .the-form .form-item .label {
        width: 240px;
        font-size: 14px;
        line-height: 22px;
        text-align: right;
        font-weight: bold;
        color: black;
        box-sizing: border-box;
        padding-right: 10px; }
      .container .form .form-item.native_submit_form .form-item-content .the-form .form-item .content {
        flex: 1;
        box-sizing: border-box; }
      .container .form .form-item.native_submit_form .form-item-content .the-form .form-item.footer {
        display: flex; }
      .container .form .form-item.native_submit_form .form-item-content .the-form .form-item.footer .item {
        flex: 1;
        text-align: center; }
      .container .form .form-item.native_submit_form .form-item-content .the-form input[type="text"],
      .container .form .form-item.native_submit_form .form-item-content .the-form textarea {
        font-size: 14px;
        line-height: 16px;
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        box-sizing: border-box;
        padding: 2px; }
